@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-color: #fafafa;
  color: #0f172a;
}

* {
  border-color: theme("colors.border");
}

::selection {
  background-color: theme("colors.brand.soft");
  color: theme("colors.brand.DEFAULT");
}
